@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.my-table {
  color: white;
}

.button-container {
  display: block;
  justify-content: center;
}

.my-button{
  background-color: orange;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 1px 1px;
  margin: 4px;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

.my-button-all{
  background-color: orange;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 1px 1px;
  margin: 4px;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}


.my-button:hover {
  background-color: #ff8c00;
}

.my-button:disabled{
  background-color: rgba(255, 166, 0, 0.616);
  color: rgba(255, 255, 255, 0.74);
  cursor: not-allowed;
}

.alinear-celda{
  align-items: center;
  text-align: center;
}

.caja-filter{
  width: 20rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: white;
}

.caja-select{
  width: 15rem;
}
.item-select{
  color: white;
}